.no-hover:hover {
    background-color: transparent;
}

.no-hover:visited:hover {
    background-color: transparent;
}

.pizza-bar-wrapper {
    height: 47px;
    margin-top: 10px;
    position: relative;
}

#pizza-bar {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 12; /* Unite uses 11 */
}

#pizza-bar a {
    display: block;  /* Makes clickable area full width and height of containing li. */
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

#pizza-bar a:not(.no-hover):hover {
    border-radius: 8px;
    /*background-color: #808080;*/
    /*color: #ffffff;*/
}

#pizza-bar a:not(.no-hover):hover svg {
    /*fill: #ffffff;*/
}

#pizza-bar div.login {
    padding: 10px 50px 10px 50px;
    white-space: normal;
}

#pizza-bar div.login input:not([type=submit]) {
    width: 12em;
}

#pizza-bar li {
    list-style: none;
    white-space: nowrap;
}

#pizza-bar li.divider {
    background-color: #808080;
    width: 85%;
    height: 1px;
    margin: 0px 0px 0px 10%;
}

#pizza-bar li.entry {
    color: #808080;
    line-height: normal;
    padding-top: 2px;
    padding-bottom: 2px;
}

#pizza-bar li.link {
    float: left;
    /* Line height must extend down to submenu or gap will drop mouse. */
    line-height: 42px;
    margin-left: 10px;
    /*margin-right: 10px;*/
    position: relative;
}

#pizza-bar li.menu {
    border-radius: 8px;
    float: left;
    /* Line height must extend down to submenu or gap will drop mouse. */
    line-height: 42px;
    margin-left: 10px;
    position: relative;
}

#pizza-bar li.menu:hover {
    /*background-color: #808080;*/
    /*color: #ffffff;*/
}

#pizza-bar li.menu-on {
    background-color: #808080;
    color: #ffffff;
}

#pizza-bar span {
    padding-left: 10px;
    padding-right: 10px;
}

#pizza-bar span.menu-icon {
    cursor: pointer;
    padding-right: 0px;
}

#pizza-bar span.menu-title {
    cursor: pointer;
    padding-left: 0px;
}

#pizza-bar li.entry svg {
    fill: #000000;
    height: 0.75em;
    width: 0.75em;
    margin-right: 7px;
}

#pizza-bar ul {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#pizza-bar ul.nav-menu {
    float: right;
}

#pizza-bar ul.nav-menu li {
    text-align: right;
}

#pizza-bar ul.nav-menu li.menu {
    height: 42px;
}

#pizza-bar ul.submenu {
    background-color: #c0c0c0;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: none;
    max-height: 600px;
    overflow-y: scroll;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    /* Top must abutt li.menu above this or gap will drop mouse. */
    top: 42px;
    left: auto;
    right: 0px;
}

.menu-icon {
    fill: #000000;
    margin-top: 7px;
    width: 30px;
    height: 24px;
    vertical-align: top;
}

.menu-on {
    fill: #ffffff;
}

#pizza-cart {
    fill: #000000;
    margin-top: 4px;
    width: 35px;
    height: 28px;
    vertical-align: top;
}

#pizza-cart.menu-on {
    fill: #ffffff;
}

#pizza-logo {
    fill: #000000;
    width: 38px;
    height: 38px;
}

/************************/
/* Breadcrumbs          */
/************************/

#breadcrumbs {
    font-size: smaller;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#breadcrumbs ul {
    display: inline;
    margin: 0px;
    padding: 0px;
}

#breadcrumbs ul li {
    display: inline;
}

#breadcrumbs ul li:before {
    content: ' ➝ ';
}

/************************/
/* Cart                 */
/************************/

.cart {
}

.cart div.buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cart div.buttons input {
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px 5px 5px 5px;
}

.cart input.address {
    width: 451px;
}

.cart input.cartQuantity {
    text-align: right;
    width: 30px;
}

.cart input.email {
    width: 300px;
}

.cart input.name {
    width: 220px;
}

.cart input.intlShipping {
    text-align: right;
    width: 70px;
}

.cart select {
    padding-top: 5px;
}

.cart table {
    margin-bottom: 10px;
    width: 100%;
}

.cart table td {
    border-width: 1px;
    padding: 5px;
}

.cart table td.options {
    text-align: center;
}

.cart table td.options a {
    color: #505050;
    text-decoration: none;
}

.cart table td.options a:hover {
    background-color: transparent;
}

.cart table td.promoCode {
    border-style: solid none none none;
    text-align: center;
}

.cart table td.quantity {
    text-align: center;
}

.cart table td.subtotal {
    text-align: right;
}

.cart table td.subtotalAmount {
    border-style: solid none none none;
    padding-right: 10px;
    text-align: right;
}

.cart table td.subtotalLabel {
    border-style: solid none none none;
    padding-right: 30px;
    text-align: right;
}

.cart table td.taxAmount {
    border-style: none;
    padding-right: 10px;
    text-align: right;
}

.cart table td.taxLabel {
    border-style: none;
    padding-right: 30px;
    text-align: right;
}

.cart table td.totalAmount {
    border-style: solid none none none;
    font-size: larger;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}

.cart table td.totalLabel {
    border-style: solid none none none;
    font-size: larger;
    padding-right: 30px;
    text-align: right;
}

.cart table td.update {
    border-style: solid none none none;
    text-align: center;
}

.cart table th {
    border-style: none none solid none;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

.cart table th.leftmost {
    width: 99%;
}

/*********************************/
/* Error and Wait defaults       */
/********************************/

.error {
    color: red;
}

.error-placeholder::-webkit-input-placeholder { /* Safari, Chrome, Opera 15+ */
   color: red;
}

.error-placeholder:-moz-placeholder { /* Firefox 18- */
   color: red;
}

.error-placeholder::-moz-placeholder { /* Firefox 19+ */
   color: red;
}

.error-placeholder:-ms-input-placeholder { /* IE 10+ */
   color: red;
}

.wait {
    display: none;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
}

/************************/
/* Image defaults       */
/************************/

figure {
    margin: 0;
}

img.captcha {
    margin: 10px 0px 0px 0px;
}

.image-frame {
    background-color: #d0d0d0;
    line-height: 0;
}

.image-frame .caption {
    font-size: smaller;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    line-height: 1em;
}

.image-frame a:hover {
    background-color: transparent;
}

.image-frame img {
    border-color: #303030;
    border-style: solid;
    border-width: 0px;
    width: 100%;
    height: auto;
    vertical-align: top;
}

.image-frame-center {
    clear: both;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.image-frame-left {
    clear: left;
    float: left;
    margin: 5px 20px 15px 0px;
}

.image-frame-right {
    clear: right;
    float: right;
    margin: 5px 0px 15px 20px;
}

.image-frame-row {
    float: left;
    margin: 5px 20px 15px 0px;
}

.video-wrapper {
    background-color: #808080;
    position: relative;
    padding-bottom: 28.125%; /* 16:9 at 50% width */
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************************/
/* Input defaults       */
/************************/

form[name="Signup"] input[name="firstName"] {
    width: 10em;
}

form[name="Signup"] input[name="lastName"] {
    width: 10em;
}

form[name="Signup"] input[name="email"] {
    width: 15em;
}

form[name="Signup"] input[name="password"] {
    width: 8em;
}

form[name="Signup"] input[name="invite"] {
    width: 11em;
}

div.form-label {
    font-size: smaller;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.input-disabled {
    color: #808080;
}

.input-disabled:hover {
    cursor: default;
}

input {
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    margin: 4px 0px 4px 0px;
    padding: 2px;
}

input[name="company2"] {
    display: none;
}

input[name="ogImage"] {
    max-width: 100%;
    width: 30em;
}

input[name="ogTitle"] {
    max-width: 100%;
    width: 25em;
}

input[type=submit] {
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}

input.captcha {
    width: 12em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url('../images/select-arrows.svg');
    background-position: 101%;
    background-repeat: no-repeat;
    background-size: auto 110%;
    border-color: #808080;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: #808080;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 30px 1px 3px;
}

select::-ms-expand {
    display: none;
}

textarea {
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    margin: 4px 0px 4px 0px;
    padding: 2px;
    width: 100%;
    max-width: 792px; /* 800 - 8 padding */
    height: 400px;
}

textarea[name="ogDescription"] {
    height: 5em;
}

/************************/
/* Sitemap defaults     */
/************************/

#sitemap, #sitemap ul {
    position: relative;
}

#sitemap, #sitemap ul {
    list-style-type: none;
}

#sitemap .marker {
    display: inline-block;
    position: absolute;
    left: 5px;
}

#sitemap .marker:hover {
    cursor: pointer;
}

#sitemap .marker-down:before {
    content: '➘';
}

#sitemap .marker-up:before {
    content: '➙';
}

#sitemap .padlock {
    fill: #000000;
    height: 0.75em;
    width: 0.75em;
    margin-left: 7px;
}

/************************/
/* Page Editor defaults */
/************************/

.page-editor .options {
    width: 3em;
}

.page-editor .title {
    width: 20em;
}

/************************/
/* Album defaults       */
/************************/

.album-files {
    column-gap: 4px; /* overloaded for jQuery column count; 4px = 4 columns */
    /*background-color: gray;*/
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.album-files img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.album-files li {
    /*background-color: #ffffff;*/
    /*border-color: #c0c0c0;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    float: left;
    margin: 10px;
    overflow: hidden;
    /*padding: 20px;*/
    position: relative;
    vertical-align: top;
}

.album-files li .album-counter {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.album-files li .album-delete {
    background-color: rgba(255, 255, 255, 0.75);
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
}

.album-files li .album-delete img {
    display: block;
    width: 20px;
    height: 20px;
}

.album-files li .sort-handle {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 2px;
    left: 2px;
}

/************************/
/* Store defaults       */
/************************/

#add-to-cart .add-button {
    background-color: #ffffff;
    border-color: #808080;
    border-radius: 0px 20px 20px 0px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px 5px 2px 5px;
    position: relative;
    text-align: center;
    width: 200px;
}

#add-to-cart .add-button span {
    color: #000000;
}

#add-to-cart select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url('../images/select-arrows.svg');
    background-position: 101%;
    background-repeat: no-repeat;
    background-size: auto 110%;
    border-color: #808080;
    border-radius: 10px 0px 0px 10px;
    border-style: solid;
    border-width: 1px;
    color: #808080;
    font-family: inherit;
    font-size: inherit;
    padding: 5px 35px 5px 5px;
}

#add-to-cart select::-ms-expand {
    display: none;
}

.sort-handle {
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    position: absolute;
    top: 2px;
    left: 2px;
}

.sort-handle img {
    display: block;
    width: 20px;
    height: 20px;
}

.store-items {
    column-gap: 4px; /* overloaded for jQuery column count; 4px = 4 columns */
    /*background-color: gray;*/
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.store-items .item-content {
    background-color: #ffffff;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    position: relative;
}

.store-items .item-description {
    display: block;
}

.store-items .item-image {
    display: block;
    width: 100%;
}

.store-items li {
    float: left;
    margin: 10px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.store-item-images {
    column-gap: 120px; /* overloaded for jQuery image width */
    /*background-color: #f0f0f0;*/
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    white-space: nowrap;
}

.store-item-images div:nth-of-type(1) {
    border-collapse: separate;
    border-spacing: 10px 0px;
    display: table;
}

.store-item-images div:nth-of-type(1) .sort-handle {
    border-spacing: 0px 0px;
    display: none;
}

.store-item-images .item-image {
    display: block;
}

.store-item-images li {
    background-color: #ffffff;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px;
    display: table-cell;
    padding: 5px;
    position: relative;
    vertical-align: middle;
}

.store-item-images ul {
    display: table-row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/************************/
/* jQuery UI defaults   */
/************************/

.ui-helper-reset {
    font-size: unset;
}

/* Misc visuals
----------------------------------*/

.ui-tabs {
    padding: unset;
    text-align: left;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0px 5px 0px 5px;
}
.ui-tabs .ui-tabs-panel {
    padding: 0;
}

/* Component containers
----------------------------------*/
.ui-widget {
    font-family: unset;
    font-size: unset;
}
.ui-widget .ui-widget {
    font-size: unset;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: unset;
    font-size: unset;
}
.ui-widget.ui-widget-content {
    border: unset;
}
.ui-widget-content {
    border: unset;
    background: unset;
    color: unset;
}
.ui-widget-content a {
    color: unset;
}
.ui-widget-header {
    border: unset;
    background: unset;
    color: unset;
    font-weight: unset;
}
.ui-widget-header a {
    color: unset;
}

/************************/
/* Promos               */
/************************/

/* chained selector */
#ui-datepicker-div.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}
/* descendant selector */
#ui-datepicker-div .ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}

/************************/
/* Responsive           */
/************************/

* {
    box-sizing: border-box;
}

.rwd-debug {
    display: none;
}

.rwd-debug::after {
    background-color: white;
    color: black;
    content: "rwd-debug";
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

[class*="col-"] {
    /*border: 1px solid red;*/
    float: left;
    /*padding: 15px;*/
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .rwd-debug::after {
        content: "XS";
    }
    .image-frame-center, .image-frame-left, .image-frame-right, .image-frame-row {
        clear: both;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
    }
    .video-wrapper {
        padding-bottom: 56.25%; /* 16:9 at 100% width */
        width: 100%;
    }
    #pizza-bar div.login {
        padding: 10px;
        text-align: center;
    }
    #pizza-bar li.divider {
        margin: 0px;
        width: 100%;
    }
    #pizza-bar span.menu-icon {
        padding-right: 10px;
    }
    #pizza-bar span.menu-title {
        display: none;
    }
    #pizza-bar ul.nav-menu li {
        text-align: center;
    }
    #pizza-bar ul.nav-menu ul {
        border-radius: 0px;
        position: fixed;
        top: 52px;
        left: 0px;
        width: 100%;
    }
    #add-to-cart .add-button {
        border-radius: 20px;
        display: block;
        margin-top: 5px;
    }
    #add-to-cart select {
        border-radius: 10px;
    }
    .col-xs-1 {width: 8.33%;} .col-xs-2 {width: 16.66%;} .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;} .col-xs-5 {width: 41.66%;} .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;} .col-xs-8 {width: 66.66%;} .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;} .col-xs-11 {width: 91.66%;} .col-xs-12 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .rwd-debug::after {
        content: "S";
    }
    #pizza-bar span.menu-icon {
        padding-right: 0px;
    }
    #pizza-bar span.menu-title {
        display: initial;
    }
    .col-s-1 {width: 8.33%;} .col-s-2 {width: 16.66%;} .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;} .col-s-5 {width: 41.66%;} .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;} .col-s-8 {width: 66.66%;} .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;} .col-s-11 {width: 91.66%;} .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .rwd-debug::after {
        content: "M";
    }
    .col-m-1 {width: 8.33%;} .col-m-2 {width: 16.66%;} .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;} .col-m-5 {width: 41.66%;} .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;} .col-m-8 {width: 66.66%;} .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;} .col-m-11 {width: 91.66%;} .col-m-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .rwd-debug::after {
        content: "L";
    }
    .store-item-images .drag-row {
        height: 1.5em;
    }
    .col-l-1 {width: 8.33%;} .col-l-2 {width: 16.66%;} .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;} .col-l-5 {width: 41.66%;} .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;} .col-l-8 {width: 66.66%;} .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;} .col-l-11 {width: 91.66%;} .col-l-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .rwd-debug::after {
        content: "XL";
    }
    .col-xl-1 {width: 8.33%;} .col-xl-2 {width: 16.66%;} .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;} .col-xl-5 {width: 41.66%;} .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;} .col-xl-8 {width: 66.66%;} .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;} .col-xl-11 {width: 91.66%;} .col-xl-12 {width: 100%;}
}
