<?php
$adminEmail = '';
$dbHost = '';
$dbUser = '';
$dbPassword = '';
$dbDatabase = '';

// To use Pizza in top-level domain mode, where say "pizza" is the name of
// the Pizza directory, do these two steps:
//   1. In the parent directory of the "pizza" directory, create an
//      .htaccess file with these two lines:
//          RewriteEngine on
//          RewriteRule (.*) pizza/$1 [L]
//   2. Set $hidePizzaRoot below to true.
$hidePizzaRoot = false;

$siteName = 'YourWebsiteName.com';

// File storage outside of MySQL.
// Define 'root' for your needs and uncomment to enable.
// 'root' is relative to pizza directory.
$storage = array(
    // 'root' => '../../../storage'
);

$smtpAuth = false;
$smtpHost = 'localhost';
$smtpPort = 25;
// $smtpUsername = '<your_smtp_username>';
// $smtpPassword = '<your_smtp_password>';

// $menu = array(
    // 'Home' => '/',
    // 'd1' => '---',
    // 'Contact Us' => '/contact',
// );

// Shopping cart settings.
// $cart['gift-wrap'] = 5.00; // dollars
$cart['taxRate'] = 6; // percent
// $cart['shipping'] = 5.50; // dollars

// PayPal settings.
$paypal['env'] = 'sandbox';  // 'production' or 'sandbox'
// PayPal REST App keys:
$paypal['sandbox'] = 'Asample6789abcdefghijklmnopqrstuvwxyz012345679abcdefghijklmnopqrstuvwxyz01234567';
$paypal['production'] = 'Asample6789abcdefghijklmnopqrstuvwxyz012345679abcdefghijklmnopqrstuvwxyz01234567';

// For testing from other devices on the LAN without having to make custom
// entries in their /etc/hosts file, allow accessing via directory mode as
// "localhost/website.com", "1.2.3.4/website.com", etc.
$lanHosts = array(
    'localhost',
    '192.168.42.111',
);
?>
