<?php
$adminEmail = '';
$dbHost = '';
$dbUser = '';
$dbPassword = '';
$dbDatabase = '';

$siteName = 'YourWebsiteName.com';

// To use Pizza in top-level domain mode, where say "pizza" is the name of
// the Pizza folder, do these two steps:
//   1. In the parent folder of the "pizza" folder, create an
//      .htaccess file with these two lines:
//          RewriteEngine on
//          RewriteRule (.*) pizza/$1 [L]
//   2. Uncomment $hidePizzaRoot below and set to true.
//
// $hidePizzaRoot = true;

// File storage outside of MySQL (e.g. for faster file & video serving).
// Define 'storageRoot' for your needs and uncomment to enable.
// Note it is relative to the "pizza" folder.
//
// $storageRoot = '../../../storage';

$smtpHost = 'localhost';
$smtpPort = 25;
// $smtpAuth = false;
// $smtpUsername = 'your_smtp_username';
// $smtpPassword = 'your_smtp_password';

// Shopping cart settings.
// $cart['gift-wrap'] = 5.00; // dollars
// $cart['taxRate'] = 6; // percent
// $cart['shipping'] = 5.50; // dollars

// PayPal settings.
$paypal['env'] = 'sandbox';  // 'production' or 'sandbox'
// PayPal REST App keys:
$paypal['sandbox'] = 'Asample6789abcdefghijklmnopqrstuvwxyz012345679abcdefghijklmnopqrstuvwxyz01234567';
$paypal['production'] = 'Asample6789abcdefghijklmnopqrstuvwxyz012345679abcdefghijklmnopqrstuvwxyz01234567';
?>
